.column {
    padding: 2rem;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: cadetblue;
    border-radius: 5px;
    max-height: 400px;
    overflow: auto;
  }
  
  .task {
    padding: 2rem;
    border: crimson 1px solid;
    margin: 1rem;
    border-radius: 5px;
    background-color: coral;
    text-align: center;
  }